/Prova/nbproject/private/
/Prova/build/
/Aula6-arrays/nbproject/private/
/Aula6-arrays/build/
/Aula7/nbproject/private/
/Aula7/build/
/Aula7-exercicio/nbproject/private/
/Aula7-exercicio/build/
/Aula8-trabalho/nbproject/private/
/Aula8-trabalho/build/